<div id="createBoardModalPopup" class="createBoardModal">
  <form ng-submit="addInvite()">
    <h3 class="inviteMembersTitle">Invite Members</h3>
      <!-- add members email input -->
      <input ng-model="inviteMember" class="newBoardInviteMembersInput" type="text" placeholder="Add Members by Email"></input>
      <!-- button to add members -->
      <md-button id="inviteSubmit" type="submit" class="inviteMembersButton">+</md-button>
  </form>

  <!-- modal that shows invited members -->
  <div class="invitedBoardMembers">
    <p class="successfulInvite" id= "invitedMember" ng-repeat="member in boardMembers" ng-click="unInvite($index)">
      {{ member.email }}
    </p>
    <!-- shows this message if user email does not exist -->
    <p class="userDoesntExist" ng-show="!userExists">*** {{inviteMember}} does not exist <br> please enter a valid email</p>
  </div>

  <!-- add member button -->
  <md-button id="addMembers" ng-click="addMembers()" class="createBoardButton">Add Members</md-button>
</div>
