<div class="cardModal">
  <h3 class="cardModalTitle">Card Text</h3>
  <div
    class="cardModalText"
    inline-edit=card.text inline-edit-placeholder="Edit Card" inline-edit-on-blur="save" inline-edit-btn-edit="" inline-edit-callback="editCard(newValue)" inline-edit-on-click></div>
  <div>
    <h3 class="cardModalTitle">Comments</h3>

    <!-- comment section in the card modal -->
    <div class="commentSection" layout="column">
      <form ng-submit="addComment(comment)">
        <!-- adds comments -->
          <textarea ng-model="comment" placeholder="Add Comment" type="text" class="commentInput"></textarea>
          <md-button ng-click="addComment(comment)" class="addCommentButton">Save</md-button>
      </form>
      
      <!-- repeats saved comments -->
      <ul class="commentList">
        <li ng-repeat="comment in card.comments">
          <p class="commentUsername">{{comment.createdBy.name}}</p>
          <p class="comment">{{comment.text}}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
