<div class="container">
  <md-content layout-padding layout="column" layout-align="center center">

    <h2 class="signinSignupTitle">Sign in to Town Hall</h2>

    <form ng-submit="signin()">
      <!-- email input -->
      <input ng-model="user.email" placeholder="Email" class="signinSignupInput" type="text">

      <input ng-model="user.password" type="password" placeholder="Password" class="signinSignupInput" type="text">

      <!-- signin button -->
      <md-button id="signIn" class="md-raised md-primary signinButton" ng-submit="signin()" type="submit">Sign In</md-button>
    </form>

    <!-- create account link -->
    <p class="haveAnAccount">Don't have an account? <a href="#/signup" class="createAnAccountSignin">Create an account</a></p>

    <!-- google signin -->
    <md-button class="md-raised md-primary" ng-click="googleSignin()">Sign In with Google</md-button>
  </md-content>
</div>
