<div class="container">
  <md-content layout-padding layout="column" layout-align="center center">

    <h2 class="signinSignupTitle">Create a Town Hall Account</h2>
      <!-- username input -->
      <input ng-model="user.name" class="signinSignupInput" placeholder="Name">
      <!-- email input -->
      <input ng-model="user.email" class="signinSignupInput" placeholder="Email">
      <!-- password input -->
      <input ng-model="user.password" type="password" class="signinSignupInput" placeholder="Password">
      <!-- confirm password input -->
      <input ng-model="confirmpw" ng-required type="password" class="signinSignupInput" placeholder="Confirm Password">

      <div>
        <span ng-show="user.password !== confirmpw" class="passwordsMustMatch">passwords must match</span>
      </div>

    <!-- create account button -->
    <md-button id="createAccount" class="md-raised md-primary" ng-click="signup()">Create New Account</md-button>

    <!-- sign in link -->
    <p class="haveAnAccount">Have an account already? <a href="#/signin"  class="createAnAccountSignin">Sign in</a></p>
  </md-content>
</div>
